.property-img, .about img, .property-btn, .approach >div{
  transition: all 0.3s linear;
}
.property-img:hover{
  transform: scale(1.1);
}
.about img:hover{
    transform: rotateY(-10deg);
}
.see-more-btn, .see-more-btn .arrow{
    transition: all 0.5s linear;
}
.see-more-btn:hover .arrow{
    display: block;
}

.property-btn:hover{
    transform: scale(0.8);
}
.approach-animate .images{
    transition: all 1s ease-in-out;
    animation: doAnimate 1s ease-in-out;
}

@keyframes doAnimate {
    0%{
        transform: scale(0.7);
    }
    100%{
        transform: scale(1);
    }
}

.side-animate{
    transition: all 1s ease-in-out;
    animation: sideAnimate 1s ease-in-out;
}

@keyframes sideAnimate {
    0%{
        margin-left: 100%;
    }
    100%{
        margin-left: 0;
    }
}

.banner{
    height: 500px;
    width: 100wh;
}
.banner .slider-img{
    height: 500px;
    object-fit: cover;
}

@media (min-width: 768px) {
    .md\:p-5 {
        padding: 1.25rem/* 20px */;
    }
    .md\:grid {
        display: grid;
    }
    .md\:h-32 {
        height: 8rem/* 128px */;
    }
}
@media (min-width: 1024px) {
    .lg\:text-7xl {
        font-size: 4.5rem/* 72px */;
        line-height: 1;
    }
    .lg\:mx-16 {
        margin-left: 4rem/* 64px */;
        margin-right: 4rem/* 64px */;
    }
}